body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:118px;
  top:5px;
  width:682px;
  height:60px;
  font-family:'Axure Handwriting Bold Italic', 'Axure Handwriting';
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:60px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-8px;
  top:0px;
  width:1388px;
  height:100px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:110px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:14px;
  width:1120px;
  height:72px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:72px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-20px;
  top:96px;
  width:1400px;
  height:62px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:72px;
}
#u7 {
  position:absolute;
  left:2px;
  top:23px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:527px;
  top:200px;
  width:278px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:129px;
  top:300px;
  width:521px;
  height:352px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:352px;
}
#u11 {
  position:absolute;
  left:2px;
  top:168px;
  width:517px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:750px;
  top:300px;
  width:500px;
  height:352px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:352px;
}
#u13 {
  position:absolute;
  left:2px;
  top:168px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:262px;
  top:690px;
  width:262px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:926px;
  top:690px;
  width:149px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:1030px;
  width:1400px;
  height:62px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:72px;
}
#u19 {
  position:absolute;
  left:2px;
  top:23px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:12px;
  top:1092px;
  width:1388px;
  height:100px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:110px;
}
#u21 {
  position:absolute;
  left:2px;
  top:42px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:478px;
  top:1106px;
  width:710px;
  height:83px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:83px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:423px;
  top:747px;
  width:327px;
  height:213px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:213px;
}
#u25 {
  position:absolute;
  left:2px;
  top:98px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:750px;
  top:747px;
  width:315px;
  height:213px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:213px;
}
#u27 {
  position:absolute;
  left:2px;
  top:98px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:401px;
  top:983px;
  width:674px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:126px;
  top:110px;
  width:1120px;
  height:48px;
}
#u30_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1126px;
  height:54px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:53px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  font-family:'Ari Bold', 'Ari';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:373px;
  top:0px;
  width:373px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:746px;
  top:0px;
  width:374px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:48px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  word-wrap:break-word;
}
