body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:118px;
  top:5px;
  width:682px;
  height:60px;
  font-family:'Axure Handwriting Bold Italic', 'Axure Handwriting';
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:60px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:846px;
  top:190px;
  width:14px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:815px;
  top:190px;
  width:25px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-8px;
  top:0px;
  width:1388px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:110px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:150px;
  top:14px;
  width:1120px;
  height:72px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:72px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:316px;
  top:190px;
  width:484px;
  height:400px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:400px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u12 {
  position:absolute;
  left:2px;
  top:192px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u14 {
  position:absolute;
  left:2px;
  top:192px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u16 {
  position:absolute;
  left:2px;
  top:192px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:400px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:400px;
}
#u18 {
  position:absolute;
  left:2px;
  top:192px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:828px;
  top:208px;
  width:510px;
  height:160px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:160px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:828px;
  top:384px;
  width:500px;
  height:224px;
  font-size:20px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:224px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:130px;
  top:674px;
  width:560px;
  height:176px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:176px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:170px;
  top:876px;
  width:500px;
  height:224px;
  font-size:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:224px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:828px;
  top:618px;
  width:500px;
  height:446px;
  overflow:hidden;
}
#u27_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:446px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u29 {
  position:absolute;
  left:2px;
  top:217px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:446px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:440px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:440px;
}
#u31 {
  position:absolute;
  left:2px;
  top:212px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:446px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u33 {
  position:absolute;
  left:2px;
  top:217px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:446px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u27_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:450px;
}
#u35 {
  position:absolute;
  left:2px;
  top:217px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:-20px;
  top:96px;
  width:1400px;
  height:62px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:72px;
}
#u37 {
  position:absolute;
  left:2px;
  top:23px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:-68px;
  top:1084px;
  width:1400px;
  height:62px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:72px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:-56px;
  top:1146px;
  width:1388px;
  height:100px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1398px;
  height:110px;
}
#u41 {
  position:absolute;
  left:2px;
  top:42px;
  width:1384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:410px;
  top:1160px;
  width:710px;
  height:83px;
  font-family:'Times New Roman Bold', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:83px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:190px;
  width:240px;
  height:400px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:410px;
}
#u45 {
  position:absolute;
  left:2px;
  top:192px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:30px;
  top:221px;
  width:180px;
  height:129px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:129px;
}
#u47 {
  position:absolute;
  left:2px;
  top:56px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:426px;
  width:190px;
  height:140px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:140px;
}
#u49 {
  position:absolute;
  left:2px;
  top:62px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:84px;
  top:197px;
  width:82px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:46px;
  top:378px;
  width:159px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:24px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
